<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listings" href="/tabs/listings">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Listings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" href="/tabs/logout">
      <ion-icon aria-hidden="true" name="log-out"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>